backports.functools-lru-cache==1.5
cvxpy==1.0.19
cycler==0.10.0
decorator==4.3.2
dill==0.2.9
ecos==2.0.7.post1
fastcache==1.0.2
future==0.17.1
joblib==1.2.0
kiwisolver==1.0.1
matplotlib==2.2.4
Mosek==8.1.77
multiprocess==0.70.7
networkx==2.2
numpy==1.16.1
osqp==0.5.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
scipy==1.2.1
scs==2.0.2
six==1.12.0
