atomicwrites==1.1.5
attrs==18.1.0
backports.functools-lru-cache==1.5
chompack==2.3.2.post1
cvxopt==1.2.0
cvxpy==1.0.6
cycler==0.10.0
decorator==4.3.0
dill==0.2.8.2
ecos==2.0.5
fastcache==1.0.2
funcsigs==1.0.2
future==0.16.0
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.2.0
Mosek==8.1.67
multiprocess==0.70.6.1
networkx==2.1
numpy==1.14.3
osqp==0.3.1
PICOS==1.1.2
pluggy==0.6.0
py==1.5.4
pyparsing==2.2.0
pytest==3.6.3
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
scs==2.0.2
six==1.11.0
smcp==0.4.6
subprocess32==3.2.7
toolz==0.9.0
